In [7]:
import pandas 

df = pandas.read_csv( '../clean_data/clean_for_pandas.csv', index_col='name' ) 
df.index.str[-1]
df[ ( df.index.str[-1] == 'C' ) ]

          y     km   ekm  kcat  ekcat      ki    eki  kcatkm  ekcatkm
name
N163C  1.10   5.42  0.32    26      1     NaN    NaN    4766      291
W399C  0.93  70.33  5.89     3      1     NaN    NaN      39        4
Q19C   0.40    NaN   NaN   NaN    NaN     NaN    NaN       1        0
W325C  0.22   4.18  0.53    10      1  159.19  34.38    2503      327